/* === Footer === */
/* === Footer Styles === */
.footer {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    font-family: "Glory", sans-serif;
    font-size: 20px;
  }
  .footer h1 {
    font-family: Great Vibes;
  }
  .footer i {
    padding: 5px;
  }
  
  .footer-link {
    text-decoration: none;
    color: var(--accent-color);
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: var(--primary-color);
  }
  
  .social-icon {
    font-size: 1.5rem;
    color: var(--primary-color);
    transition: color 0.3s ease;
    margin: 5px;
  }
  
  .social-icon:hover {
    color: var(--accent-color);
  }
  