/* Corps principal */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FEF6E9;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    color: #B7536C;
    text-align: center;
    margin-bottom: 30px;
}

/* Conteneur */
.container {
    background: white;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Photo de profil */
.profile-picture img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 20px 0;
}

/* Bouton */
button {
    background-color: #B7536C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #D94F78;
}

/* Formulaire */
form label {
    font-weight: bold;
    color: #B7536C;
    display: block;
    margin-top: 15px;
}

form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #B7536C;
    border-radius: 5px;
    margin-top: 5px;
}

/* Responsivité */
@media screen and (max-width: 768px) {
    .container {
        padding: 15px;
    }
}
